
{{!-- <div class="home"> --}}
  <h1>ADD YOUR FAVORITE PLACE</h1>
  <h2>Coffees, shops, bookstores</h2>

  

  <h1>{{error}}</h1>
  <h2>{{message}}</h2>

  <a href="/places">
  <button>SEE PLACES</button>
  </a>
{{!-- </div> --}}